{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<h2 class="mb-4" style="font-size: 3.5rem; font-weight: bold; color: #fbbf24; text-shadow: -2px -2px 0 #1e3a8a, 2px -2px 0 #1e3a8a, -2px 2px 0 #1e3a8a, 2px 2px 0 #1e3a8a; font-family: Arial Black, sans-serif;">Acerca de</h2>
<p >Este proyecto fue desarrollado como práctica de Flask con Bootstrap.</p>
<p>aqui creamos diferentes plantillas que se muestran en el navbar como inicio,base,animales,vehiculos y las maravillas del mundo es solo una practica de el funcionamiento de flask y las plantillas de jinja</p>
<div class="alert alert-info mt-3">
    <strong>Versión:</strong> 1.0 — <em>proyecto de flask y python usando plantillas de jinja para saber su funcionamiento</em>
</div>
{% endblock %}
